<header class="header">
  <a href="https://adalab.es/" target="_blank"
    ><img
      src="./assets/images/img-logo-adalab.png"
      alt="Logo de Adalab"
      class="header__logo"
      title="Ir a Adalab - Web Oficial"
  /></a>
  <nav class="header__nav">
    <ul class="header__ul">
      <li  class="header__li-blog">
        <a
          class="header__a"
          href="https://adalab.es/blog/"
          target="_blank"
          title="Ir al blog de Adalab - Web Oficial"
          >
          @@menu1
        </a>
      </li>
      <li class="header__li-contact">
        <a
          class="header__a"
          href="https://adalab.es/contacto/"
          target="_blank"
          title="Ir a Contacto de Adalab - Web Oficial"
        >
          @@menu2
        </a>
      </li>
    </ul>
  </nav>
</header>
