:root {
    --color-menu: #4a4a4a;
    --color-background: #3CDBC0;
    --color-text: #FFFFFF; 
    --body-font: 'Rubik', sans-serif;
}
body {
    font-family: var(--body-font);
    display: flex;
    flex-direction: row;

}
/* menu */
.header {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    position: fixed;
    top:0;
    right: 0;
    width: 100%;
    height: 49px;
}
.header__logo {
    margin: 10px 0;
    width: 155px;
}
.header__ul {
    display: flex;
}
.header__ul {
    margin-bottom: 13px;
}
.header__li-blog {
    margin-right:20px;
}
